body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #222;
}
button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #555;
}

.outlined-text {
  color: white;
  text-shadow: 1px 1px 4px black;
}

